/* ****************************************************************************************************************** */
/* HTML element                                                                                                       */
/* ****************************************************************************************************************** */

body {
    margin: 0px;
}

input {
    width: 300px;
    border-style: solid;
}

input:active {
}

hr {
    border: 1px;
    height: 1px;
    margin-bottom: 0px;
}

form {
    padding: 0px 10px 0px 10px;
}


.blur {
    -webkit-filter: blur(5px); 
    -moz-filter: blur(5px); 
    -o-filter: blur(5px); 
    -ms-filter: blur(5px); 
    filter: blur(5px);
}

.popin {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 0px;
    border-radius: 5px;
}

.popin h1 {
    padding: 5px;
    margin-top: 0px;
    border-radius: 5px 5px 0px 0px;
}

.button {
    border-style: solid;
    border-width: 1px;
    padding: 5px 10px;
    font-size: medium;
    text-decoration: none;
    vertical-align: middle;
    border-radius: 2px;
}

.button:hover {
   border-color: #28597a;
}

.button:active {
}

.button-bar {
    padding-top: 10px;
}

.submit {
    font-weight: bold;
}

.submit:hover {
}

.submit:active {
}

.column {
    padding-top: 5px;
}

.require-remark {
    font-size: small;
}
/* ****************************************************************************************************************** */
/* By component                                                                                                       */
/* ****************************************************************************************************************** */

#header {
}

#header-user {
    margin: 0 auto;
    height: 48px;
    border-width: 0px;
    background: url('../images/familh-logo.png');
    background-position: left center;
    background-size: 48px;
    background-repeat: no-repeat;
}

#header-menu {
    margin: 0 auto;
    display: none;
}

#header-title {
    float: left;
    margin: 0px 6px 0px 3px;
    font-size: x-large;
    cursor: pointer;
    padding: 9px 0px 6px 56px;
}

#header-user-profile {
    display: none;
    float: right;
    margin: 12px 6px 6px 12px;
    padding-right: 8px;
}

#header-user-sign-in {
    cursor: pointer;
}

#header-user-profile {
    cursor: pointer;
}

#header-user-logout {
    cursor: pointer;
}

#header-create-user {
    cursor: pointer;
}

#header-user-logout {
    display: none;
    float: right;
    margin: 12px 6px 6px 12px;
    padding-right: 8px;
}

#header-create-user {
    font-weight: bold;
    float: right;
    margin: 6px 3px 6px 3px;
    border-style: solid;
    border-width: 1px;
    padding: 6px 6px 6px 6px;
}

#header-user-sign-in {
    float: right;
    margin: 12px 6px 6px 12px;
    padding-right: 8px;
}


#center {
    min-height: 600px;
    margin: 8px auto;
    padding-bottom: 8 px;
    display: block;
}

#bottom {
    height: 48px;
}

#bottom-user {
    margin: 0 auto;
    height: 48px;
    padding: 8px 0px 8px 0px;
}

.create-user {
    width:320px;
	height:440px;
}

.log-in-user {
    width:320px;
	height:220px;
}

