@import 'color-definition';

/* ****************************************************************************************************************** */
/* HTML element                                                                                                       */
/* ****************************************************************************************************************** */



body {
    color: white;
}

input {
    border-color: $color-primary-0;
}

input:active {
    border-color: $color-primary-4;
}

hr {
    color: $color-primary-4;
    background-color: $color-primary-4;
}

form {
}

.popin {
}

.popin h1 {
    background-color: $color-primary-0;
}

.button {
    border-color: $color-primary-4;
    background: $color-primary-0;
    color: $color-primary-4;
}

.button:hover {
   border-color: $color-primary-0;
   background-color: $color-primary-4;
   color: $color-primary-0;
}

.button:active {
    border-color: $color-primary-4;
    background: $color-primary-0;
    color: $color-primary-4;
}

.button-bar {
}

.submit {
}

.submit:hover {

}

.submit:active {

}

.column {
}

.require-remark {
}
/* ****************************************************************************************************************** */
/* By component                                                                                                       */
/* ****************************************************************************************************************** */

#header {
    background-color: $color-primary-0;
}

#header-user {
}

#header-title {
    color: $color-primary-4;
}

#header-user-profile {
    color: $color-primary-4;
}

#header-user-profile:hover #header-user-logout:hover #header-create-user:hover #header-user-sign-in:hover {
}

#header-user-logout {
    color: $color-primary-4;
}

#header-create-user {
    border-color: $color-primary-4;
    color: $color-primary-4;
}

#header-user-sign-in {
    color: $color-primary-4;
}

#center {
    background-color: $color-secondary-1-1;
}

#dropdown-menu {
}

#middle-center {
}


#bottom {
    background-color: $color-primary-0;
}

#bottom-user {
    color: $color-primary-4;
}

.create-user {
	color: $color-primary-4;
	background-color: $color-primary-1;
}

.log-in-user {
	color: $color-primary-4;
	background-color: $color-primary-1;
}


