$screen-width: 1024px;

#header-user {
    width: $screen-width;
}

#header-menu {
    width: $screen-width;
    max-height: 16px;
}


#center {
    width: $screen-width;
}

#bottom-user {
    width: $screen-width;
}

